#app {
  padding: 20px 20px;
  background-color: rgb(170, 203, 133);
  width: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-inp {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  color: rgb(30, 197, 30);
  background-color: yellow;
}
.search-inp::placeholder {
  color: rgb(242, 147, 23);
}

.userName {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  color: rgb(30, 197, 30);
  background-color: yellow;
}
.forma {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  background-color: blueviolet;
  color: antiquewhite;
  border-radius: 20px;
  transition-duration: 400ms;
}

.btn:hover {
  /* rotate: 3deg; */
  transform: scale(1.1);
  background-color: rgb(43, 226, 186);
  color: orangered;
}
